* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #dc5959;
  color: white;
  border-bottom: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.whatsapp {
  display: flex;
  flex: 1 1 auto;
  background-color: yellow;

  .conversation-list {
    flex: 1 1 auto;
    background-color: white;
    border-right: 1px solid #EEEEEE;

    ul {
      list-style: none;

      a {
        display: block;
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #EEEEEE;
        text-decoration: none;
        padding: 1em;

        &:hover {
          background-color: #EEEEEE;
        }
      }
    }
  }
  .conversation {
    flex: 3 1 auto;
    background-color: #FAFAFA;
  }
  .dossier {
    flex: 3 1 auto;
    background-color: green;
  }
}

.current-call {
  flex: 0 0 100px;
  background-color: #ffbaba;
  border-top: 1px solid black;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
